@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../assets/MavenPro.woff2") format('woff2');
}

* {
    font-family: 'Maven Pro', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #4285f4;
}

.hna {
    background-color: #4285f4;
    color: #fff;
    border-radius: 5px;
    padding-left: 25px !important;
    padding-right: 25px !important;
    border: none;
    text-align: center;
    transition: all 1s ease;
}

.active {
   color: #4285f4 !important;
   font-weight: 600;
   transition: all 1s ease;
}

.active:hover {
    color: #fff !important;
   font-weight: 600;
   transition: all 1s ease;
}

.hna:hover {
    background: rgba(0, 0, 0, 0.9);
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.navbar-brand,
.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #4285f4;
}

.offcanvas {
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 99999;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    transition: all 0.4s ease;
}

@media (max-width:1080px) {

    nav {
        z-index: 9999;
    }

    .anh {
        background-color: #fff;
        color: #4285f4;
        border-radius: 5px;
        padding-left: 25px !important;
        padding-right: 25px !important;
        margin-top: 20px !important;
        border: none;
        text-align: center;
        transition: all 1s ease;
    }

    .anh:hover {
        background: rgba(0, 0, 0, 0.9);
    }

    hr {
        margin-left: 20% !important;
        margin-right: 20% !important;
        color: #ffffffc5;
    }

    footer {
        padding-top: 15% !important;
        padding-bottom: 8% !important;
    }
}


footer {
    background: #fff;
    color: #000;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 2%;
}

.sidebar {
    margin-right: 10px;
}

 #qwe {
    background-image: url("../chevron-down.svg");
    background-size: 100%;
    background-position: center center;
    width: 25px;
    height: 25px;
    display: flex;
    transition: all 1s ease;
}

#qwe111 {
    border: none;
}

.menu {
    list-style-type: none;
    text-align: left;
}

.menuitem {
   padding-top: 15px !important;
   padding-bottom: 15px !important;
   padding-left: 40px !important;
   padding-right: 40px !important;
   margin-left: -9% !important;
   border-radius: 7px;
   border: none;
   transition: all 0.5s ease;
}

.menuitem:hover {
    background: rgba(0, 0, 0, 0.1);
    padding-left: 26px !important;
   padding-right: 26px !important;
 }

.menuitem a{
    color: #000 !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    border: none;
    background-color: #4285f4;
    border-radius: 0.2em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3a76d8;
}

.dropdown-toggle {
    padding: 0px;
}

.offcanvas-header {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    height: 180px;
    background: url("../backgrounds/a1.jpg") no-repeat fixed right;
    background-size:150%;
    border-top-right-radius: 15px;
    border: none;
    align-items: flex-start;
}

.first {
    padding: 5%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.second {
    padding: 5%;
    margin-left: 3%;
    margin-right: 3%;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
}

section {
    margin-top: 8%;
    background-color: #fff;
    color: #000;
    padding: 5%;
}

.ppct1 {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ppct:hover {
    box-shadow: 0 0 5em rgba(0, 0, 0, .2);
}

.offcanvas-title {
    padding-right: 8px;
    padding-left: 8px;
}

.offcanvas-title:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: none;
}

.offcanvas-body {
    padding: 0;
    margin-top: 10px;
}

.asd {
    margin: 2%;
    border: none;
}

.asd:hover {
    margin: 3%;
    transition: all 1s ease;
}